h1, h2, p{
    margin: 0px;
}

/*ÁREA SENHA ATUAL */
.area-senha_atual{
    flex: 1;
    height: 78vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #ebebeb;
}
.bloco1{
    display: flex;
    flex-direction: row;
    height: 78vh;
}
.senha-atual{
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-block: 0px;
}
.detalhes-atual{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-block: 0px;
}
.senha-atual_exbicao{
    font-size: 18vw;
    font-weight: 700;
    margin-bottom: 0px;
}
.detalhes-atual_local{
    font-size: 100pt;
    font-weight:800;
    color: black;
    margin-block: 0px;
}
.detalhes-atual_prioridade{
    font-size: 80pt;
    font-weight: 900;
    margin-block: 0px;
}

/* ----------------- Painel Lateral ----------------- */
#painel-lateral{
    width: 21vw;
    height: 100%;
    overflow: hidden;
    box-shadow: 0px 0px 2pc black;
}
#slide-container {
    position: relative;
    width: 100%;
    height: 100%;
}
.slide-item {
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 1s ease-in-out;  /* Fade suave */
}

.slide-item.active {
    opacity: 1;
}
.slide-media {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
}
.slide-texto{
    width: 98%;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    font-weight: bold;
    font-size: 35pt;
    color: white;
}
.tela_descanso-slide_texto{
    color: white;
    font-weight: bold;
    font-size: 40pt;
    background-color: hsl(0, 0%, 0%, 50%);

    width: 100%;
    height: 100%;
    padding-inline: 10vw;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

/* ----------------- HISTORICO ----------------- */
#area-historico{
    width: 100%;
    height: 22vh;
    background-color: #03394b;
    position:relative;
}
.label-historico{
    color: #03394b;
    background-color: white;
    font-size: 35pt;
    font-weight: bold;
    position: absolute;
    top: -30px;
}
.historico-lista{
    list-style: none;
    display: flex;
    flex-direction: row;
    justify-content: baseline;
    align-items: center;
    overflow: hidden;
    height: 100%;
}
.historico-senhas{
    width: 100%;
    color: white;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-inline: 1px solid #e0e0e0;
    margin-block: 0px;
    overflow: hidden;
}
.historico-senha_atual{
    font-size: 65pt;
    font-weight: bold;
}
.hist-local{
    font-size: 40pt;
    font-weight: bold;

}


@keyframes piscar {
  0%, 50%, 100% { opacity: 1; }
  25%, 75% { opacity: 0.2; }
}

.piscar {
    animation: piscar 2s 3;
}


/* ----------------- TELA DE DESCANSO ----------------- */
#area-tela_descanso {
    position: fixed;
    inset: 0;
    z-index: 9999;
    display: none;
    background-color: hsl(195, 92%, 15%, 80%);
}

#slide-container_popup{
    width: 100%;
    height: 100%;
}

#area-tela_descanso.active {
    display: block;
}

#popup_banner{
    width: 50vw;
    height: 100%;
    overflow: hidden;
}

.slide-item_tela_descanso {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    inset: 0;
    transform: translateX(-100%);
    transition: transform 0.8s ease-in-out, opacity 0.4s ease-in-out;
}

.slide-item_tela_descanso.active {
    transform: translateX(0);
    opacity: 1;
    z-index: 2;
}
.slide-item_tela_descanso.saindo {
    transform: translateX(100%);
    opacity: 0;
    z-index: 1;
}
.slide-media {
    max-width: 100%;
    max-height: 100%;
    object-fit: cover;
    box-shadow: 0px 0px 2pc black;
}