body{
    font-family: 'Montserrat', sans-serif;
    margin: 0px;
}
#main-painel_home{
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background-color: #002430;
}
.title{
    color: white;
}
#form_home{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    border-radius: 5px;
    padding: 50px;
    border: 2px solid white;
    background-color: #001820;
}
select{
    width: 20vw;
    font-size: 15pt;
    padding-block: 5px;
    border-radius: 5px;
    outline: none;
    color: #0077ff;
    text-align: center;
    margin-bottom: 10px;
}
hr{
    width: 100%;
    border-color: #40c9ff;
    margin-bottom: 15px;
}

#btn-acessar_painel{
    width: 100%;
    font-size: 15pt;
    font-weight: bold;
    outline: none;
    color: white;
    background-color: #0077ff;
    border: none;
    border-radius: 5px;
    padding-inline: 30px;
    padding-block: 5px;
    cursor: pointer;
}
#btn-acessar_painel:hover{
    background-color: #03394B;
    outline: 2px solid white;
}
#span-versao{
    width: 100%;
    margin-top: 5px;
    color: white;
    text-align: center;
    font-size: 10pt;
}