.gitignore

# Python
*.pyc
*.pyo
*.pyd
__pycache__/
*.sqlite3
*.log

# Ambiente virtual
venv/
env/
.env/
*.env
*.venv

# Django
db.sqlite3
/staticfiles/
media/

# VSCode
.vscode/

# PyCharm
.idea/

# Docker
Dockerfile
docker-compose.yml

