{% load static %}

<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Noto+Sans:ital,wght@0,100..900;1,100..900&display=swap" rel="stylesheet">


    <link rel="stylesheet" href="{% static 'Painel_Web/css/style_painel_home.css' %}">

    <title>Painel Home</title>
</head>
<body>
    <main id="main-painel_home">
        <h2 class="title">
            <img src={% static 'Painel_Web/img/doce-natal.png' %} style="height: 35px">
            Selecione um Painel
            <img src={% static 'Painel_Web/img/doce-natal.png' %} style="height: 35px">
        </h2>
        
        <form method="get" action="{% url 'exibir_painel' %}">
            <select name="painel" required>
                <option value="">-- Escolher um painel --</option>
                {% for painel in paineis %}
                <option value="{{ painel.id }}">{{ painel.nome }}</option>
                {% endfor %}
            </select>
            
            <br>
            <button type="submit" id="btn-acessar_painel">Acessar</button>
        </form>
        <span id="span-versao">Versão 1.1.2</span>
    </main>
</body>

</html>